WuHu.Terminal/Service References/PlayerReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WuHu.BusinessLogic" />
  <xs:element name="GetPlayerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WuHu.BusinessLogic" minOccurs="0" name="GetPlayerListResult" nillable="true" type="q1:ArrayOfPlayerDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>