WuHu.Terminal/Service References/PlayerReference/WuHu.BusinessLogic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WuHu.BusinessLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WuHu.BusinessLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerDC" nillable="true" type="tns:PlayerDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerDC" nillable="true" type="tns:ArrayOfPlayerDC" />
  <xs:complexType name="PlayerDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="Skills" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDC" nillable="true" type="tns:PlayerDC" />
</xs:schema>